.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.idea/.gitignore
/.idea/AafeeLib.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.swiftpm/xcode/xcshareddata/xcschemes/aafee-lib-Package.xcscheme
/.swiftpm/xcode/xcshareddata/xcschemes/AafeeDemo.xcscheme
/.swiftpm/xcode/xcshareddata/xcschemes/AafeeLib.xcscheme
/.swiftpm/xcode/xcshareddata/xcschemes/AafeeLib-Package.xcscheme
/.vscode/launch.json
Package.resolved
